
/* Header */
.header-title, .header-description, .years-years,
.years-text, .years-on-shop, .title-project {
    font-family: Oswald;
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 95px;
    color: #fff;
}

.header-title {width: 10,6875rem;}
.header-description {
    width: 10,6875rem;
    font-size: 18px;
    line-height: 27px;
}

.date-container {
    width: 1110px;
    height: 300px;
    background-color: #F7F7F7;
    transform: translateY(150px);
    text-align: center;
    margin-bottom: 250px;
}

.year-shop {
    width: 90px;
    height: 186px;
    margin-top: 54px;
}

.years-years {
    font-size: 72px;
    line-height: 107px;
    color: #F7654A;
}

.years-text {
    font-size: 36px;
    line-height: 53px;
    color: #000;
}

.years-on-shop {
    font-size: 18px;
    line-height: 27px;
}

/* Основная часть */

.title-project {
    color: #404149;
    font-size: 36px;
    line-height: 53px;
    margin-bottom: 3.75rem;
}

.card {
    width: 21.875rem;
    border: none;
}

.heroImage{margin-bottom: 45px;}
.underlineImg {
    height: 5px;
    width: 55px;
    background-color: #F7654A;
}

.card-title {
    color: #404149;
    font-size: 24px;
    line-height: 36px;
}

.card-text { 
    color: #999999;
    font-size: 16px;
    line-height: 22px;
}

/* Сделать заказ */

.makeOrder {
    height: 11.3125rem;
    background-color: #F7654A;
    margin-bottom: 150px;
}

.orderDesc {
    width: 650px;
    height: 80px;
    font-size: 48px;
    font-weight: 600;
    line-height: 71px;
    padding-top: 30px;
    margin-bottom: 30px;
    letter-spacing: 0.02em;
}

.miniOrderDesc {
    height: 29px;
    font-weight: 500;
    width: 650px;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.02em;
}

.textQustion {
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    margin-bottom: 66px;
}

.towerImg {
    height: 40px;
    width: 60px;
    position: absolute;
    top: 59px;
    left: 145px;
}

.towerCard {
    padding: 0;
    height: 250px;
    position: relative;
    background: #F7F7F7;
}

.towerText {
    font-weight: 600;
    font-size: 17px;
    line-height: 31px;
    text-align: center;
    width: 172px;
    position: absolute;
    bottom: 59px;
    left: 86px;
}

.repeatImg {
    width: 100%;
    height: 814px;
    background-image: url(Rectangle-repeat.png);
    background-repeat: repeat;
    overflow: hidden;
}

.mainQuestion {
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    margin-bottom: 50px;
}

.questionImg {
    margin: 0;
    margin-right: 15px;
    margin-bottom: 16px;
    transition: .3s;
}

.secondTextQuestion {
    color: #F7654A;
    font-size: 24px;
    font-weight: 600;
}

.answerQuestion {
    font-family: Open Sans;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
    width: 730px;
}

.ourTeam {background-color: #404149}
.ourMateImg{
    width: 170px;
    height: 61px;
}

.textOurTeam{
    color:#fff;
    font-size: 36px;
    line-height: 53px;
    font-weight: 600;
}


.singleComment{
    width: 350px;
    height: 259px;
    background-color: #F7F7F7;
    position: relative;
    margin-bottom: 30px;
}

.quote{
    color: #F7654A;
    font-size: 86px;
    font-weight: 700;
    font-family: Oswald;
    position: absolute;
    left: 28px;
    top: 0;
}

.textReview{
    width: 290px;
    font-family: Open Sans;
    font-size: 14px;
    line-height: 21px;
    color: #999999;
    position: absolute;
    bottom: 39px;
    left: 30px;
    text-align: left;
}

.textComment{
    font-family: Oswald;
    font-style: normal; font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    margin-bottom: 64px;
}

.nameName{
    font-weight: 600;
    font-size: 19px;
    line-height: 31px;
    letter-spacing: 0.02em;
    display: inline-flex;
}

.mainContact{
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
}

.Contact {
    width: 255px;
    font-weight: 650;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #999;
}
.Contact a, .Contact a:hover, .Contact a:active{
    color: #000;
    text-decoration: none;
}

.footerText {
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
}